#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export TEXI2HTML=texi2html

MAKEVARS=prefix=$(CURDIR)/debian/jacal/usr/ \
	infodir=$(CURDIR)/debian/jacal/usr/share/info/ \
	htmldir=$(CURDIR)/debian/jacal/usr/share/doc/jacal/ \
	mandir=$(CURDIR)/debian/jacal/usr/share/man/ \
	man1dir=$(CURDIR)/debian/jacal/usr/share/man/man1/ \
	TEXI2HTML=${TEXI2HTML}

version:=$(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9A-Za-z.]+)[-].*$$/\1/p')

%:
	dh $@

override_dh_auto_build:
	makeinfo --info jacal.texi
	makeinfo --no-split --html jacal.texi

# These are from upstream's install target, turned into correctness.

debian/jacal/usr/bin/jacal:
	echo '#! /bin/bash'			 > $@
	echo JACALDIR=/usr/lib/jacal/		>> $@
	echo VERSION=$(version)			>> $@
	cat jacal.sh				>> $@
	chmod +x $@

debian/jacal/usr/lib/jacal/go.scm:
	echo ";;(use-modules (ice-9 slib))"		 > $@
	echo "(slib:load \"/usr/lib/jacal/math\")"	>> $@
	echo "(math)"					>> $@

override_dh_auto_install: debian/jacal/usr/bin/jacal debian/jacal/usr/lib/jacal/go.scm
	# Add here commands to install the package into debian/jacal.
	$(MAKE) pinstall $(MAKEVARS)
	rm debian/jacal/usr/lib/jacal/COPYING
